$font-stack: 'Raleway', sans-serif;
$primary-font-color: #E7E7EB;
$secondary-font-color: #A09FB1;
$tertiary-font-color: #88869D;
$metric-color:#585676; // this is for the button that changes to metric units
$sidebar-color:#1E213A;
$main-bg-color: #100E1D;
